<div class="user-auth">
  <div class="sign-up" *ngIf="!isLoginPage">
    <h1>User Signup</h1>
    <form class="common-form">
      <input
        type="text"
        class="form-input"
        name="name"
        placeholder="Enter User Name"
        ngModel
      />
      <input
        type="text"
        class="form-input"
        name="email"
        placeholder="Enter User Email"
        ngModel
      /><input
        type="password"
        class="form-input"
        name="password"
        placeholder="Enter User Password"
        ngModel
      />
      <button class="form-button">Sign Up</button>
      <div (click)="onOpenLogin()">
        <p>Already Have Account ? <a>Click Here</a></p>
      </div>
    </form>
  </div>
  <div class="login" *ngIf="isLoginPage">
    <h1>User Login</h1>
    <form class="common-form">
      <!-- <p class="error-p">{{authError}}</p> -->
      <input
        type="text"
        class="form-input"
        name="email"
        placeholder="Enter User Email"
        ngModel
        email
        required
      />
      <p class="invalid-input"><span>Please enter valid input</span></p>
      <input
        type="password"
        class="form-input"
        name="password"
        placeholder="Enter User Password"
        ngModel
        minlength="2"
        maxlength="20"
        required
      />
      <p class="invalid-input"><span>Please enter valid input</span></p>
      <button class="form-button">Login</button>
      <div (click)="onOpenSignUp()">
        <p>Want to Create Account ? <a>Click Here</a></p>
      </div>
    </form>
  </div>
</div>
